.footer {
  position:absolute;
  bottom: 0;
  width:100%;
  height:50px;
  background-color:black;
  text-align: center;
  color:white;
}
.navbar {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.navbar div {
  padding: 15px;
}
.custom-card {
  background-color: #710a3a; /* Dark purple background color */
  color: #ffffff; /* White text color */
}
